.DashWrapper
{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.DashboardDivsContainer
{
    display: grid;
    grid-template-columns: 20% 55% 25%;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-content: center;
    width: 90%;
    height: 100%;
}
.ProfileBox
{
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 1.5rem;
    width: 100%;
    background:#F8FAFC ;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    padding: 1rem;
    text-align: left;
    
}
.ProfileBox img{
    width: 3rem;
    height: 3rem;
    border-radius: 25%;
}
.ProfileBoxName h3{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.ProfileBoxName p{
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}


/*-----------------------------------------------------------------------------------*/

.NavigationSideBar
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    background:#F8FAFC ;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    text-align: left;
    padding: 1rem;
    margin-top: 1rem;
}
.NavigationSideBarDiv
{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
}
.NavigationSideBarDiv h3
{
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    font-weight: 700;
    color : #343434;
}
.NavIcon
{
    width: 1.5rem;
    height: 1.5rem;
    color: #343434;
}


/*---------------------------------------------------------------------*/
.AddPost
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
    background:#F8FAFC ;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    text-align: left;
    padding: 1rem;
    gap:0.5rem;
}
.AddPostDiv
{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 0.5rem;
    width: 100%;
}
.AddPostDiv img
{
    width: 3rem;
    height: 3rem;
    border-radius: 25%;
}
.AddPostDiv textarea
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eceef4;
    border-radius: 0.5rem;
    padding: 0.75rem;
    padding-left: 1rem;
    padding-right: 4rem;
    border: none;
    width: 100%;
    height: 3rem;
}
.PostButton
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #469293;
    border-radius: 0.3rem;
    border: none;
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Nunito';
    padding: 0.5rem;
    width:20%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.PostButton:hover{
    background-color: #3a7a7a;
    box-shadow: inset -8px 0px 10px rgba(0, 0, 0, .1);

    
}

.AddPostDiv input::placeholder
{
    font-size: 1rem;
    font-weight: 500;
    color: #343434;
    font-family: 'Nunito';
}
.AddPostDiv input:focus
{
    outline: none;
}
.AddPostDiv input:hover
{
    outline: none;
}
.AddPostDiv input:active
{
    outline: none;
}
.AddPostDiv input:focus-visible
{
    outline: none;
}

.AddPostDiv2
{
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 0.5rem;
    width: 100%;
}
.UploadIcon{
    width: 1.5rem;
    height: 1.5rem;
    color: rgb(206, 84, 84) !important;
}
.AddPostDiv2Inner
{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 0.5rem;
    width: 100%;
}


/*----------------------------------------------------------------*/
.Post
{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
    background:#F8FAFC ;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    text-align: left;
    padding: 1rem;
    gap:0.5rem;
}
.PostDiv1{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 0.5rem;
    width: 100%;
}
.PostDiv1 img{
    width: 3rem;
    height: 3rem;
    border-radius: 25%;
    object-fit: cover;
}
.PostDiv1Inner
{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-direction: column;
}
.PostDiv1Inner h3{
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    font-weight: 700;
    color : #343434;
}
.PostDiv1Inner p{
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    color : #343434;
}
.PostImageContainer
{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
}
.PostImageContainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.LikeCommentContainer
{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 100%;
}
.LikeCommentDiv
{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin-right: 1rem;
}
.LikeCommentIcon
{
    width: 1.5rem;
    height: 1.5rem;
    margin-bottom: 1rem;
    color: #343434;
}

/*========================================================*/
.DashboardContainer3Div
{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
    background:#F8FAFC ;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    text-align: left;
    padding: 1rem;
    gap:0.5rem;
}
.DashboardContainer3Div h6{
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    font-weight: 700;
    color : #343434;
}


.RequestsContainerDiv
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    gap:0.4rem;
}
.RequestsContainerDiv img{
    width: 3rem;
    height: 3rem;
    border-radius: 25%;
    object-fit: cover;
}
.RequestsContainerDivInner
{
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.RequestsContainerButtons
{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}
.AcceptButton
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(127, 199, 19);
    border-radius: 0.3rem;
    border: none;
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Nunito';
    padding: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    transition-duration: 1s;
}
.AcceptButton:hover{
    background-color: #00ff00;
    box-shadow: inset -8px 0px 10px rgba(0, 0, 0, .1);
}
.RejectButton{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e74c3c;
    border-radius: 0.3rem;
    border: none;
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Nunito';
    padding: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    transition-duration: 1s;
}
.RejectButton:hover{
    background-color: #e58b81;
    box-shadow: inset -8px 0px 10px rgba(0, 0, 0, .1);
}
