.DashWrapper {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.DashboardDivsContainer {
    display: grid;
    grid-template-columns: 20% 55% 25%;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-content: center;
    width: 90%;
    height: 100%;
}


/*---------------------------------------------------------------------*/
.AddPost {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
    box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
    text-align: left;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    border: 1px solid rgb(223, 221, 221);
    padding: 1rem;
    background-color: white;
    gap: 0.5rem;
}

.AddPostDiv {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 0.5rem;
    width: 100%;
}

.AddPostDiv img {
    width: 3rem;
    height: 3rem;
    border-radius: 25%;
}

.AddPostDiv textarea {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #edecec;
    border-radius: 0.5rem;
    padding: 0.75rem;
    padding-left: 1rem;
    padding-right: 4rem;
    border: none;
    width: 100%;
    height: 3rem;
}

.PostButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D05555;
    border-radius: 0.3rem;
    color: #D05555;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Nunito';
    padding: 0.5rem;
    width: 22%;
    gap: 0.4rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    transition-duration: 0.5s;
}

.PostButton:hover {
    background-color: #D05555;
    color: white;
}

.PostButton2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #3681f9;
    border-radius: 0.3rem;
    color: #3681f9;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Nunito';
    padding: 0.5rem;
    width: 22%;
    gap: 0.4rem;
    transition-duration: 0.5s;
}

.PostButton2:hover {
    background-color: #3681f9;
    color: white;
}

.PostButton3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #f9b32f;
    border-radius: 0.3rem;
    color: #f9b32f;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Nunito';
    padding: 0.5rem;
    width: 22%;
    gap: 0.4rem;
    transition-duration: 0.5s;
}

.PostButton3:hover {
    background-color: #f9b32f;
    color: white;
}

.PostButton4 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #4CAF50;
    border-radius: 0.3rem;
    color: #4CAF50;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Nunito';
    padding: 0.5rem;
    width: 22%;
    gap: 0.4rem;
    transition-duration: 0.5s;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

.PostButton4:hover {
    background-color: #4CAF50;
    color: white;
}


.AddPostDiv input::placeholder {
    font-size: 1rem;
    font-weight: 500;
    color: #343434;
    font-family: 'Nunito';
}

.AddPostDiv input:focus {
    outline: none;
}

.AddPostDiv input:hover {
    outline: none;
}

.AddPostDiv input:active {
    outline: none;
}

.AddPostDiv input:focus-visible {
    outline: none;
}

.AddPostDiv2 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
}

.UploadIcon {
    width: 1.5rem;
    height: 1.5rem;
    color: rgb(206, 84, 84) !important;
}

.AddPostDiv2Inner {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 0.5rem;
    width: 100%;
}


/*----------------------------------------------------------------*/
.Post {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: center;
    box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
    text-align: left;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    border: 1px solid rgb(223, 221, 221);
    padding: 1rem;
    background-color: white;
    text-align: left;
    gap: 0.5rem;
}

.PostDiv1 {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    gap: 1rem;
    padding-bottom: 0.5rem;
    width: 100%;
}

.PostDiv1 img {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 100%;
    object-fit: cover;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border: 1px solid #ccc;
}

.PostDiv1Inner {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-direction: column;
}

.PostDiv1Inner h3 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    font-weight: 700;
    color: #343434;
}

.PostDiv1Inner p {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    color: #343434;
}
.PostImageContainer {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    gap: 1rem;

}

.PostImageContainer img {

    width: 10rem;
    height: 14rem;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

.LikeCommentContainer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}

.LikeCommentDiv {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 0.3rem;
    padding: 0.4rem;
    margin-top: 1rem;
    gap: 0.5rem;
    width: 100%;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
    transition-duration: 0.5s;
}

.LikeCommentDiv:hover {
    box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
    color: #1f66ff
}

.LikeCommentDiv p {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}

.LikeCommentIcon {
    font-size: 1.5rem;
}

.PopupContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.Popup {
    background-color: white;
    width: 40%;
    padding: 20px;
    border-radius: 8px;
    max-height: 40vw;
    overflow-x: hidden;
    box-sizing: border-box;
    box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    position: relative;
    /* Add position:relative */
}

.Popup::-webkit-scrollbar {
    width: 8px;
    margin-right: 1px;
}

.Popup::-webkit-scrollbar-thumb {
    background-color: #00b0ff;
}

.Popup::-webkit-scrollbar-thumb:hover {
    background-color: #007acc;
}

.Popup::-webkit-scrollbar-track {
    background-color: #fff;
}

.Popup:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 8px;
    /* Set the width to match the scrollbar width */
    background-color: transparent;
    /* Set the background color as needed */
    border-radius: 0 8px 8px 0;
    /* Adjust the border-radius accordingly */
}

@media (max-height: 40vw) {
    .Popup {
        overflow-y: hidden;
    }
}


.PopupNavbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.PopupTitle {
    font-size: 1.5em;
    font-weight: 600;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    font-family: 'Rubik';
    color: #EC5863;
}

.PopupTitleIn {
    font-size: 1.5em;
    font-weight: 600;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    font-family: 'Rubik';
    color: #90BAFF;
}

.PopupContent {
    margin-top: 1rem;
    margin-bottom: -1rem;
    font-family: 'Rubik';
    font-size: 1rem;
}

.PopupContent h6 {
    font-weight: 600;
    color: black;
    font-size: 1rem;
    text-align: left;
    font-family: 'Nunito';
}

.PopupTextArea {
    width: 100%;
    height: 8rem;
    border-radius: 0.3rem;
    border: 1px solid rgb(192, 191, 191);
    padding: 0.5rem;
    font-family: 'Rubik';
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.PopupContentD {
    margin-top: -1rem;
    margin-bottom: 1rem;
    font-family: 'Rubik';
    font-size: 1rem;
}

.PopupContentD h6 {
    font-weight: 300;
    color: #776E6E;
    font-size: 0.8rem;
    line-height: 1.2;
    text-align: justify;
}

.PopupButtons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
}


.PopupButton {
    width: 100%;
    background-color: white;
    color: black;
    padding: 0.6rem;
    padding-top: 0.5rem;
    padding-bottom: 0.1rem;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid gray;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.PopupButton:hover {
    background-color: #F9F9F9;
    color: rgb(27, 26, 26);
}

.PopupButton2 {
    width: 100%;
    background-color: #3681f9;
    color: white;
    padding: 0.6rem;
    padding-top: 0.5rem;
    padding-bottom: 0.1rem;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #3681f9;
    transition-duration: 1s;
}

.PopupButton2:hover {
    background-color: #1f66ff;
    color: white;
}

.PostNavbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.PostNavbar img {
    width: 3rem;
    height: 3rem;
    border-radius: 25%;
    object-fit: cover;
    margin-top: -0.8rem;
}

.PostNavbar div {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    text-align: left;
}

.PostNavbar div h3 {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    font-weight: 700;
    color: #343434;
}

.postIcon {
    width: 1.5rem;
    color: #343434;
    margin-top: -0.5rem;
}

.publicbox {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.MediaButtonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    gap: 1rem;
    margin-top: 1rem;
}

.MediaButton {
    width: 100%;
    display: flex;
    gap: 0.4rem;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.3rem;
    border-radius: 0.3rem;
    border: none;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Nunito';
    padding-left: 1rem;
    padding-right: 1rem;
    transition-duration: 1s;
}

.MediaButton:hover {
    box-shadow: inset -8px 0px 10px rgba(0, 0, 0, .1);
}

.MediaIcon {
    width: 1.5rem;
    margin-top: -0.5rem;
    color: white;
}

.Gallery {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    gap: 1rem;
    margin-top: 1rem;
}

.ImageContainer {
    position: relative;
    /* Set to relative to contain the absolute delete icon */
}

.ImageContainer img {
    display: block;
    width: 5rem;
    height: 5rem;
    object-fit: contain;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 1px solid #e6e6e6;
}

.ImageContainer video {
    display: block;
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 1px solid #e6e6e6;
}


.DeleteIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    cursor: pointer;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out;
    font-size: 2rem;
    background-color: #0505054d;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

.DeleteIcon:hover {
    opacity: 0.7;
}

.PDFViewButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9b32f;
    border-radius: 0.2rem;
    border: 1px solid white;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Nunito';
    padding: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    transition-duration: 1s;
    text-decoration: none;
}

.PDFViewButton a {
    text-decoration: none;
    color: white;
}

.PDFViewButton:hover {
    border: 1px solid #f9b32f;
    background-color: white;
    color: #f9b32f !important;
}

.VisibilityContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.VisibilityContainerDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #e6e6e6;
    padding-top: 1rem;
    padding-bottom: 0.7rem;
}

.holderbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.holderIcon {
    width: 1.5rem;
    color: #343434;
    margin-top: -0.5rem;
}

.holderIconO {
    width: 1.5rem;
    color: #1f66ff;
    margin-top: -0.5rem;
}

.holderIconC {
    width: 1.5rem;
    color: #1f66ff;
    margin-top: -0.5rem;
}





#ImageBtn {
    background-color: #EC5863;
}

#VideoBtn {
    background-color: #3681f9;
}

#DocumentBtn {
    background-color: #f9b32f;
}

#ImageBtn:hover {
    background-color: #D05555;
}

#VideoBtn:hover {
    background-color: #1f66ff;
}

#DocumentBtn:hover {
    background-color: #e58b81;
}

@media only screen and (max-device-width: 900px) {
    .Popup {
        background-color: white;
        width: fit-content;
        padding: 20px;
        border-radius: 8px;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .PopupButton2 {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .PopupButton2 h6 {
        font-size: 0.6rem;
    }
}


@media only screen and (max-device-width: 760px) {

    .RequestButtonHolder {
        flex-direction: column;
    }

    .PopupButton2R {
        width: 100%;
    }
}


/*---------------------------------------------------------------------------*/
.PollQuestion {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    align-items: start;
    gap: 0.3rem;
    margin-bottom: 0.5rem;
}

.PollQuestion h6 {
    font-size: 0.85rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    font-weight: 700;
    color: #535353;
}

.PollQuestion textarea {
    width: 100%;
    max-height: 3.5rem;
    border-radius: 0.3rem;
    border: 1px solid rgb(192, 191, 191);
    padding: 0.3rem;
    font-family: 'Nunito';
    font-size: 0.85rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

.PollOption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 0.3rem;
}

.PollOption input {
    width: 100%;
    border-radius: 0.3rem;
    border: 1px solid rgb(192, 191, 191);
    padding: 0.3rem;
    font-family: 'Nunito';
    font-size: 0.85rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

.PollOption input:focus {
    outline: none;
}

.PollOption input:hover {
    outline: none;
}

.PollOption input:active {
    outline: none;
}

.PollOption input:focus-visible {
    outline: none;
}

.PollOption input::placeholder {
    font-size: 0.85rem;
    font-weight: 300;
    font-family: 'Nunito';
}

.PollOption input[type="radio"] {
    display: none;
}

.PollOptionButton {
    background-color: #3681f9;
    color: white;
    border: 1px solid white;
    border-radius: 0.3rem;
    padding: 0.2rem;
}

.PollOptionButton:hover {
    background-color: #1f66ff;
    color: white;
    border: 1px solid white;
    border-radius: 0.3rem;
    padding: 0.2rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

.PollOptionDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.3rem;
}

.RemoveBtn {
    background-color: #EC5863;
    color: white;
    border: 1px solid white;
    border-radius: 0.3rem;
    padding: 0.1rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}

.PollOptionDisplay {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.PollOptionsInnerDiv {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3rem;
    width: 100%;
}

.PollDurationSelect {
    width: 100%;
    border-radius: 0.3rem;
    border: 1px solid rgb(192, 191, 191);
    padding: 0.3rem;
    font-family: 'Nunito';
    font-size: 0.85rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;

}


/*------------------------------------------------------------------------------------*/
.EventCoverImage {
    width: 100%;
    height: 10vw;
    object-fit: cover;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 1px solid #e6e6e6;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}

.EventCoverImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 1px solid #e6e6e6;
}

.EventCoverImageButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    margin-top: 1rem;
}

.EventCoverImageAddButton {
    width: 100%;
    background-color: #FFC107;
    color: white;
    padding-bottom: 0.3rem;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #FFC107;
    transition-duration: 1s;
}

.EventCoverImageAddButton:hover {
    background-color: #FFC107;
    color: white;
    border: 1px solid #FFC107;
}

.EventCoverImageRemoveButton {
    width: 100%;
    background-color: #EC5863;
    color: white;
    padding-bottom: 0.3rem;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #EC5863;
    transition-duration: 1s;
}

.EventCoverImageRemoveButton:hover {
    background-color: #EC5863;
    color: white;
    border: 1px solid #EC5863;
}

.EventDetails {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 0.5rem;
    margin-top: 1rem;
}

.EventDetailsDiv {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 0.5rem;
    text-align: left;
}

.EventDetailsDiv h6 {
    width: 100%;
    font-size: 0.85rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    font-weight: 700;
    color: #535353;
}

.EventDetailsDiv div {
    width: 100%;
    align-items: center;
}

.EventDetailsDiv div input {
    width: 100%;
    border-radius: 0.2rem;
    border: 1px solid rgb(192, 191, 191);
    padding: 0.3rem;
    font-family: 'Nunito';
    font-size: 0.85rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
}

.EventDetailsLabel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.85rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
    font-weight: 700;
    color: #535353;
}

.EventDetailsLabel h6 {
    margin-left: 0.3rem;
    font-size: 0.85rem;
    font-weight: 500;
    margin-top: 0.5rem;
    font-family: 'Nunito';
}

.PopupButtonsNew {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
}

.Quill {
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
    border: 1px solid rgb(192, 191, 191);
    padding: 0.3rem;
    font-family: 'Nunito';
    font-size: 0.85rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}